/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #c71585;
}
.bg-color--subcolor {
  background-color: #c71585;
}
.bg-color--gray {
  background-color: #c71585;
}
